<ion-view view-title="Login">

    <div style="margin-top: 50px;"></div>

    <div class="list padding">
        <label class="item item-input">
            <span class="input-label">Gebruikersnaam</span>
            <input type="text" ng-model="securityLoginCtrl.loginDetails.username">
        </label>
        <label class="item item-input">
            <span class="input-label">Wachtwoord</span>
            <input type="password" ng-model="securityLoginCtrl.loginDetails.password">
        </label>
    </div>

    <button class="button button-full button-positive" ng-click="securityLoginCtrl.login()">Aanmelden</button>
</ion-view>
