<!--<ion-view view-title="Account" ng-controller="AccountCtrl">-->
<ion-view view-title="Account">
    <ion-content class="">

        <div class="accountHead">
            <div class="imageCircle">
                <!--<img ng-src="../img/kleen.png">-->
            </div>
            <h2>{{ user.username }}</h2>
        </div>

        <!--<div class="list card accountCard">-->
            <!--<div class="item item-divider">Persoonlijke gegevens</div>-->
            <!--<div class="item item-body">-->
                <!--<div>-->
                    <!--<p><span>Gebruikersnaam</span>{{ user.username }} </p>-->
                    <!--<p><span></span>{{ user.first_name }} {{ user.last_name }} </p>-->
                    <!--<p><span></span>{{ user.email }}</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <div class="list card">
            <div class="item item-divider">Persoonlijk</div>
            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-person icon-blue"></i>
                {{ user.first_name }} {{ user.last_name }}
                <span class="item-note"></span>
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-email icon-blue"></i>
                {{ user.email }}
            </a>
        </div>


        <div class="list card accountCard">
            <div class="item item-divider">Laatste melding</div>
            <div class="item item-body" ng-repeat="ureps in userreports" ng-show="$last">
                <div>
                    <p>{{ ureps.type }} <span>{{ ureps.created_at | date:'MM/dd/yyyy @ h:mma' }}</span></p>
                </div>
                <div>{{ ureps.description }}</div>
            </div>
        </div>


        <!--<form ng-submit="postReport()">-->
            <!--<label>New Post:</label>-->
            <!--<input type="text" ng-model="postData.text">-->
            <!--<button type="submit" class="button button-positive button-block">Create</button>-->
        <!--</form>-->


    </ion-content>
</ion-view>
