/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
/*
 * COLORS
 *
 */
/*
 * OVERALL
 *
 */
* {
  font-family: Roboto, "Helvetica Neue"; }

h2 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700; }

h3 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400; }
  h3 span {
    font-size: .7em;
    color: #abb2b7; }

h5 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300; }

.cap {
  text-transform: capitalize; }

.upc {
  text-transform: uppercase; }

.floatleft {
  float: left;
  margin-right: 20px; }

tr td a {
  color: #4394c8 !important; }

.fa-notification {
  font-size: 10px;
  border-radius: 10px;
  margin: 0 10px; }

.fa-blue {
  color: #2e719e;
  margin: 0 1px; }

.fa-disabled {
  color: #75b0d7; }

.fa-darkblue {
  color: #2e719e; }

.fa-yellow {
  color: #F1C40F; }

.fa-green {
  color: #4fb373; }

.fa-red {
  color: #e7575a; }

.fa-offset {
  margin-left: 10px; }

body {
  background-color: #e4e7ea; }

/*
 * BUTTONS
 *
 */
.btn-blue {
  background-color: #4394c8 !important;
  color: #ffffff !important; }
  .btn-blue:hover {
    background-color: #2e719e !important; }
  .btn-blue a {
    color: #ffffff !important;
    text-decoration: none; }

.btn-cancel {
  background-color: #e7575a !important;
  color: #ffffff !important; }
  .btn-cancel:hover {
    background-color: #ce3e41 !important; }
  .btn-cancel a {
    color: #ffffff !important;
    text-decoration: none; }

.btn-submit {
  background-color: #4fb373 !important;
  color: #ffffff !important; }
  .btn-submit:hover {
    background-color: #1c8040 !important; }
  .btn-submit a {
    color: #ffffff !important;
    text-decoration: none; }

#appbundle_user_submit {
  background-color: #4fb373 !important;
  color: #ffffff !important;
  text-transform: uppercase; }
  #appbundle_user_submit a {
    color: #ffffff !important;
    text-decoration: none; }

.table-60 {
  with: 60% !important; }

.table-40 {
  with: 40% !important; }

#datatable_length {
  display: none; }

#datatable_filter {
  float: left;
  margin: 20px 0; }

#datatable_info {
  color: #d3d7da; }

#datatable_info, #datatable_paginate {
  margin-bottom: 20px; }

#datatable_filter {
  width: 100%;
  margin: 0 auto; }

.table-detail tr:first-of-type th, .table-detail tr:first-of-type td {
  border: none !important; }

.table-detail th {
  text-align: right;
  padding-right: 10px;
  width: 30%; }

.table-detail-reversed tr:first-of-type th, .table-detail-reversed tr:first-of-type td {
  border: none !important; }

.table-detail-reversed th {
  text-align: right;
  padding-right: 10px;
  width: 45%; }

.table-detail-reversed .table-detail-reversed-user-reports tr:first-of-type th, .table-detail-reversed .table-detail-reversed-user-reports tr:first-of-type td {
  border: none !important; }

.table-detail-reversed .table-detail-reversed-user-reports td, .table-detail-reversed .table-detail-reversed-user-reports tr, .table-detail-reversed .table-detail-reversed-user-reports th {
  border: none !important; }

.table-detail-reversed .table-detail-reversed-user-reports th {
  text-align: right;
  padding-right: 10px;
  width: 25%; }

/*
   * BACKOFFICE
   *
   */
.logoImage {
  width: 100%;
  margin: 150px auto 100px; }

#sidebar {
  padding: 40px 0 20px 10px;
  background-color: #333333; }
  #sidebar .sidenav {
    margin-left: -40px; }
    #sidebar .sidenav li {
      margin: 10px auto;
      padding: 15px 10px; }
      #sidebar .sidenav li i {
        margin-right: 15px; }
    #sidebar .sidenav a {
      font-size: 20px;
      color: #ffffff !important;
      text-decoration: none; }
      #sidebar .sidenav a:hover {
        color: #2e719e !important; }
    #sidebar .sidenav .activeSidenav {
      border-right: 10px solid #4394c8; }
  #sidebar img {
    width: 100%; }
  #sidebar h5 {
    font-size: 24px;
    text-align: center;
    color: #ffffff; }
  #sidebar .sidenav {
    margin-top: 50px; }

#content {
  padding: 20px 30px;
  background-color: #ffffff;
  min-height: 750px; }
  #content .flash-succes, #content .flash-error {
    z-index: 100;
    position: absolute;
    top: 40px;
    left: 25%;
    width: 50%;
    padding: 50px;
    text-align: center;
    font-size: 2em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #4fb373; }
  #content .flash-error {
    background-color: #e7575a; }

.table-hover tbody tr:hover {
  background-color: #e4e7ea; }

/* map for google maps */
#map {
  width: 100%;
  min-height: 500px;
  margin-bottom: 20px; }

/*
 * TITEL
 *
 */
