<ion-view title="{{ vm.title }}">
    <ion-content class="">

        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">Type</div>
                <select ng-model="vm.report.type">
                    <option value="Grof vuil">Grof vuil</option>
                    <option value="Papierwaren">Papierwaren</option>
                    <option value="Plastiek">Plastiek</option>
                    <option value="Vuilzakken">Vuilzakken</option>
                    <option value="Etensresten">Etensresten</option>
                </select>
            </label>

            <div class="item">
                <p>Locatie: <span class="greyout">{{ vm.report.location_lat }}, {{ vm.report.location_long }}</span></p>
            </div>

            <label class="item item-input item-floating-label">
                <span class="input-label">Beschrijving</span>
                <input type="text" placeholder="Beschrijving" ng-model="vm.report.description">
            </label>

            <!--<div id="map" data-tap-disabled="true"></div>-->

        </div>

        <div ng-hide="{{ vm.report.photo }}" class="ng-hide" >
            <img ng-src="{{ vm.report.photo }}">
        </div>
        <div ng-show="{{ vm.report.photo }}" class="ng-show" >
            <img ng-src="{{ vm.report.photo }}">
        </div>
        <button ng-click="vm.getPhoto()" class="button button-block button-positive">Neem foto</button>

        <button class="button button-clear button-positive button-float-right" ng-click="vm.saveReport()">Verzend</button>


        <!--<button class="button button-block button-positive" ng-click="vm.post()" ng-hide="vm.uploadProgress">Verzend</button>-->
        <!--<progress max="100" value="{{ vm.uploadProgress }}" ng-show="vm.uploadProgress"></progress>-->

    </ion-content>
</ion-view>