/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4896e5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

/*
 * COLORS
 *
 */
$white:                 #ffffff !default;
$cancel:                #e7575a !default;
$cancelhover:           #ce3e41 !default;
$submit:                #4fb373 !default;
$submithover:           #1c8040 !default;

$yellow:                #F1C40F !default;

$lightestblue:          #90E1FF !default;
$lighterblue:           #75b0d7 !default;
$blue:                  #4896e5 !default;
$darkerblue:            #2e719e !default;

$grey:                  #333333 !default;
$lightgrey:             #abb2b7 !default;
$lightergrey:           #d3d7da !default;
$lightestgrey:          #e4e7ea !default;



/*
 * OVERALL
 *
 */
.button-float-right{float: right;}
#map{min-height: 170px; width: 100%;}
.icon-blue{color: $blue;}
.greyout{color: $lightgrey;}

/*
 * OVERWRITE IONIC
 *
 */
.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated{border-color: $darkerblue;}


/*
 * PAGES
 *
 */
// Dashboard
.logoDashboard{
  width: 100%;
  margin: 20px auto;
}
.dashboardCard{
  p{
    margin-top: 0;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
  }
  span{
    color: $lightgrey;
    float: right;
    text-align: right;
    font-size: .7em;
    font-style: italic;
  }
}


// Report Detail
.reportDetailCard{
  p{
    margin-top: 0;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
  }
  span{
    color: $lightgrey;
    float: right;
    text-align: right;
    font-size: .7em;
    font-style: italic;
  }
  .reportDetailPhoto{
    width: 100%;
    height: auto;
    margin: 10px auto;
  }
}

.reportDetailStatusCard{
  span{
    float: right;
    text-align: right;
    font-size: .7em;
    font-style: italic;
  }
  .fa-bolletje{
    font-size: 10px;
    border-radius: 10px;
    margin: 0 10px;
    background-color: $blue;
  }
}

// Leaderboard
.leaderboardCard{
  p{}
  span{
    float: right;
    text-align: right;
    font-size: 1.2em;
    font-weight: bold;
  }
}


// Account
.accountHead{
  width: 60%;
  margin: 30px auto;
  text-align: center;
  .imageCircle{
    background-image: url("../img/ben.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px; height: 200px;
    margin: 0 auto;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
  }
  h2{}
}
.accountCard{
  p{
    margin-top: 0;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
  }
  span{
    color: $lightgrey;
    float: right;
    text-align: right;
    font-size: .7em;
    font-style: italic;
  }
}