{% extends '::base.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% form_theme delete_form 'bootstrap_3_layout.html.twig' %}

{% block title %}Gebruikers{% endblock %}

{% block body -%}
    <div class="row">
        <div id="sidebar" class="col-lg-2">
            {#<img src="https://scontent-ams3-1.xx.fbcdn.net/hphotos-frc3/v/t1.0-9/1476174_10152064745569777_2091323508_n.jpg?oh=759efcf3b4265f3bb7daa2bf4ae9ee65&oe=56B53BE0"/>#}
            {#<h5>Fake Name</h5>#}
            <img src="{{ asset('images/kleen-sidebar.png') }}" alt="Kleen"/>
            <h5>{{ loggedUser.firstName }} {{ loggedUser.lastName }}</h5>

            <nav class="">
                <ul class="sidenav">
                    <li><a href="{{ path('dash') }}">
                            <i class="fa fa-home"></i>Dashboard
                        </a></li>
                    <li class="activeSidenav"><a href="{{ path('users') }}">
                            <i class="fa fa-users"></i>Gebruikers
                        </a></li>
                    <li><a href="{{ path('reports') }}">
                            <i class="fa fa-flag"></i>Meldingen
                        </a></li>
                    <li><a href="{{ path('badges') }}">
                            <i class="fa fa-certificate"></i>Badges
                        </a></li>
                    <li><a href="{{ path('leaderboards') }}">
                            <i class="fa fa-line-chart"></i>Leaderboard
                        </a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('security_logout') }}">
                                <i class="fa fa-power-off"></i>Afmelden
                            </a></li>
                    {% endif %}
                </ul>
            </nav>

        </div>

        <div id="content" class="col-lg-10">
            <h2>Wijzig gebruiker gegevens</h2>

            {{ form(edit_form) }}

            <div class="floatleft">
                {{ form(delete_form) }}
            </div>

            <div class="floatleft btn btn-blue">
                <a class="upc" href="{{ path('users') }}">Keer terug</a>
            </div>

            {#<!-- Button trigger modal -->#}
            {#<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">#}
                {#Launch demo modal#}
            {#</button>#}

            {#<!-- Modal -->#}
            {#<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">#}
                {#<div class="modal-dialog" role="document">#}
                    {#<div class="modal-content">#}
                        {#<div class="modal-header">#}
                            {#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
                            {#<h4 class="modal-title" id="myModalLabel">Modal title</h4>#}
                        {#</div>#}
                        {#<div class="modal-body">#}
                            {#...#}
                        {#</div>#}
                        {#<div class="modal-footer">#}
                            {#<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
                            {#<button type="button" class="btn btn-primary">Save changes</button>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}

        </div>
    </div>

{% endblock %}
