{% extends '::base.html.twig' %}

{% block title %}Gebruikers{% endblock %}

{% block body -%}
    <div class="row">
        <div id="sidebar" class="col-lg-2">
            {#<img src="https://scontent-ams3-1.xx.fbcdn.net/hphotos-frc3/v/t1.0-9/1476174_10152064745569777_2091323508_n.jpg?oh=759efcf3b4265f3bb7daa2bf4ae9ee65&oe=56B53BE0"/>#}
            {#<h5>Fake Name</h5>#}
            <img src="{{ asset('images/kleen-sidebar.png') }}" alt="Kleen"/>
            <h5>{{ loggedUser.firstName }} {{ loggedUser.lastName }}</h5>

            <nav class="">
                <ul class="sidenav">
                    <li><a href="{{ path('dash') }}">
                        <i class="fa fa-home"></i>Dashboard
                    </a></li>
                    <li class="activeSidenav"><a href="{{ path('users') }}">
                        <i class="fa fa-users"></i>Gebruikers
                    </a></li>
                    <li><a href="{{ path('reports') }}">
                        <i class="fa fa-flag"></i>Meldingen
                        </a></li>
                    <li><a href="{{ path('badges') }}">
                            <i class="fa fa-certificate"></i>Badges
                        </a></li>
                    <li><a href="{{ path('leaderboards') }}">
                            <i class="fa fa-line-chart"></i>Leaderboard
                        </a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('security_logout') }}">
                            <i class="fa fa-power-off"></i>Afmelden
                        </a></li>
                    {% endif %}
                </ul>
            </nav>

        </div>

        <div id="content" class="col-lg-10">
            <h2>Gebruikers</h2>
            <div class="row">

                {% for flash_message in app.session.flashbag.get('succes') %}
                    <div class="flash-succes">
                        {{ flash_message }}
                    </div>
                {% endfor %}

                {% for flash_message in app.session.flashbag.get('error') %}
                    <div class="flash-error">
                        {{ flash_message }}
                    </div>
                {% endfor %}

                <div class="btn btn-blue">
                    <a class="upc" href="{{ path('users_new') }}">Maak nieuwe gebruiker aan</a>
                </div>

                {#<div class="col-lg-12">#}
                    {#<h3>Gebruikers met fake meldingen</h3>#}
                {#</div>#}
                {#<table class="table table-hover">#}
                    {#<thead>#}
                        {#<tr>#}
                            {#<th>#</th>#}
                            {#<th>Gebruikersnaam</th>#}
                            {#<th>Email</th>#}
                            {#<th>Voornaam</th>#}
                            {#<th>Naam</th>#}
                            {#<th>Geblokeerd</th>#}
                            {#<th>Fake meldingen</th>#}
                            {#<th>Actions</th>#}
                        {#</tr>#}
                    {#</thead>#}
                    {#<tbody>#}
                        {#{% for report in fakeReports %}#}
                            {#<tr>#}
                                {#<td>{{ report.id }}</td>#}
                                {#<td>{{ report.user.username }}</td>#}
                                {#<td>{{ report.user.email }}</td>#}
                                {#<td>{{ report.user.firstName }}</td>#}
                                {#<td>{{ report.user.lastName }}</td>#}
                                {#<td>{% if report.user.lockedAt %}{{ report.user.lockedAt|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                                {#<td>{{ count }}</td>#}
                                {#<td>#}
                                    {#<a href="{{ path('users_edit', { 'id': report.user.id }) }}"><i class="fa fa-pencil fa-blue"></i></a>#}
                                    {#{% if report.user.lockedAt == null %}#}
                                        {#<a href="{{ path('user_softdelete', { 'id': report.user.id }) }}"><i class="fa fa-lock fa-blue"></i></a>#}
                                    {#{% else %}#}
                                        {#<a href="{{ path('user_softundelete', { 'id': report.user.id }) }}"><i class="fa fa-unlock fa-blue"></i></a>#}
                                    {#{% endif %}#}
                                    {#<a href="{{ path('users_edit', { 'id': report.user.id }) }}"><i class="fa fa-trash fa-blue"></i></a>#}
                                    {#<a href="{{ path('users_show', { 'id': report.user.id }) }}"><i class="fa fa-info fa-blue fa-offset"></i></a>#}
                                {#</td>#}
                            {#</tr>#}
                        {#{% endfor %}#}
                    {#</tbody>#}
                {#</table>#}

                <table id="datatable" class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Gebruikersnaam</th>
                            <th>Email</th>
                            <th>Voornaam</th>
                            <th>Naam</th>
                            <th>Aangemaakt</th>
                            <th>Geblokeerd</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.firstName }}</td>
                                <td>{{ user.lastName }}</td>
                                <td>{% if user.createdAt %}{{ user.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{% if user.lockedAt %}{{ user.lockedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>
                                    <a href="{{ path('users_edit', { 'id': user.id }) }}"><i class="fa fa-pencil fa-blue"></i></a>
                                    {% if user.lockedAt == null %}
                                        <a href="{{ path('user_softdelete', { 'id': user.id }) }}"><i class="fa fa-lock fa-blue"></i></a>
                                    {% else %}
                                        <a href="{{ path('user_softundelete', { 'id': user.id }) }}"><i class="fa fa-unlock fa-blue"></i></a>
                                    {% endif %}
                                    {#<a href="{{ path('users_delete', { 'id': user.id }) }}"><i class="fa fa-trash fa-blue"></i></a>#}
                                    <a href="{{ path('users_show', { 'id': user.id }) }}"><i class="fa fa-info fa-blue fa-offset"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="btn btn-blue">
                    <a class="upc" href="{{ path('users_new') }}">Maak nieuwe gebruiker aan</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
