{% extends '::base.html.twig' %}
{% form_theme delete_form 'bootstrap_3_layout.html.twig' %}

{% block title %}Gebruikers{% endblock %}

{% block body -%}
    <div class="row">
        <div id="sidebar" class="col-lg-2">
            {#<img src="https://scontent-ams3-1.xx.fbcdn.net/hphotos-frc3/v/t1.0-9/1476174_10152064745569777_2091323508_n.jpg?oh=759efcf3b4265f3bb7daa2bf4ae9ee65&oe=56B53BE0"/>#}
            {#<h5>Fake Name</h5>#}
            <img src="{{ asset('images/kleen-sidebar.png') }}" alt="Kleen"/>
            <h5>{{ loggedUser.firstName }} {{ loggedUser.lastName }}</h5>

            <nav class="">
                <ul class="sidenav">
                    <li><a href="{{ path('dash') }}">
                            <i class="fa fa-home"></i>Dashboard
                        </a></li>
                    <li class="activeSidenav"><a href="{{ path('users') }}">
                            <i class="fa fa-users"></i>Gebruikers
                        </a></li>
                    <li><a href="{{ path('reports') }}">
                            <i class="fa fa-flag"></i>Meldingen
                        </a></li>
                    <li><a href="{{ path('badges') }}">
                            <i class="fa fa-certificate"></i>Badges
                        </a></li>
                    <li><a href="{{ path('leaderboards') }}">
                            <i class="fa fa-line-chart"></i>Leaderboard
                        </a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('security_logout') }}">
                                <i class="fa fa-power-off"></i>Afmelden
                            </a></li>
                    {% endif %}
                </ul>
            </nav>

        </div>


        <div id="content" class="col-lg-10">
            {% for flash_message in app.session.flashbag.get('succes') %}
                <div class="flash-succes">
                    {{ flash_message }}
                </div>
            {% endfor %}

            {% for flash_message in app.session.flashbag.get('error') %}
                <div class="flash-error">
                    {{ flash_message }}
                </div>
            {% endfor %}
            <div class="col-lg-7">
                <h2>Gegevens van {{ user.firstName }} {{ user.lastName }}</h2>

                <table class="table table-hover table-detail-reversed pull-left">
                    {#<table class="table table-hover table-detail">#}
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>Voornaam</th>
                        <td>{{ user.firstName }}</td>
                    </tr>
                    <tr>
                        <th>Naam</th>
                        <td>{{ user.lastName }}</td>
                    </tr>
                    <tr>
                        <th>Geboortedatum</th>
                        <td>{{ user.birthday|date('Y-m-d') }}</td>
                    </tr>
                    <tr>
                        <th>Aangemaakt</th>
                        <td>{{ user.createdAt|date('Y-m-d H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th>Geblokeerd</th>
                        <td>{{ user.lockedAt|date('Y-m-d H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Gebruikersnaam</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th>Wachtwoord</th>
                        <td>{{ user.password }}</td>
                    </tr>
                    </tbody>
                </table>

                {{ form(delete_form) }}

                <div class="btn btn-blue">
                    <a class="upc" href="{{ path('users') }}">Keer terug</a>
                </div>

                <div class="btn btn-blue">
                    <a class="upc" href="{{ path('users_edit', { 'id': user.id }) }}">Wijzig gegevens</a>
                </div>

            </div>

            <div class="col-lg-5">
                <h2>Meldingen</h2>
                <table class="table table-hover table-detail-reversed pull-right">
                    <tbody>
                    {% for report in userReports %}
                        <tr>
                            <th style="width:25%;">{{ report.type }}</th>
                            <td>{{ report.description }}</td>
                            {#{% if report.laststate == 'gemeld' %}#}
                                {#<td><i class="fa fa-circle fa-notification fa-darkblue"></i>{{ report.laststate }}</td>#}
                            {#{% elseif report.laststate == 'in behandeling' %}#}
                                {#<td><i class="fa fa-circle fa-notification fa-yellow"></i>{{ report.laststate }}</td>#}
                            {#{% elseif report.laststate == 'opgeruimd'%}#}
                                {#<td><i class="fa fa-circle fa-notification fa-green"></i>{{ report.laststate }}</td>#}
                            {#{% else %}#}
                                {#<td><i class="fa fa-circle fa-notification fa-red"></i>{{ report.laststate }}</td>#}
                            {#{% endif %}#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>


        </div>
    </div>
{% endblock %}
