{% extends '::base.html.twig' %}

{% block title %}Welkom{% endblock %}

{% block body -%}
    <div class="row">
        <div id="content" class="col-lg-12">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">

                    <img src="{{ asset('images/kleen.png') }}" alt="Kleen"/>

                </div>

                <div class="col-lg-4 col-lg-offset-4">
                    <h1 style="text-align: center;">Welcome on the homepage</h1>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
