<ion-view title="Melding">
    <ion-content class="">

        <div class="list card reportDetailCard" ng-repeat="ur in reportdetail">
            <div class="item item-divider">Melding</div>
            <div class="item item-body">
                <p>{{ ur.type }} <span>{{ ur.created_at | date:'MM/dd/yyyy @ h:mma'}}</span></p>
                <div>{{ ur.description }}</div>
                <img class="reportDetailPhoto" ng-src="{{ur.photo}}">
                <div id="map" data-tap-disabled="true"></div>
            </div>
        </div>

        <div class="list card reportDetailStatusCard">
            <div class="item item-divider">Status</div>
            <div class="item item-body" ng-repeat="rs in reportstates">
                {{ rs.state }}<span>{{ rs.created_at | date:'MM/dd/yyyy @ h:mma' }}</span>
                <!--<p ng-if="rs.state === 'in behandeling'">-->
                    <!--<i class="fa-bolletje"></i> {{ rs.state }}<span>{{ rs.created_at | date:'MM/dd/yyyy @ h:mma' }}</span>-->
                <!--</p>-->
                <!--<p ng-if="rs.state === 'opgeruimd'">-->
                    <!--<i class="fa-bolletje"></i> {{ rs.state }}<span>{{ rs.created_at | date:'MM/dd/yyyy @ h:mma' }}</span>-->
                <!--</p>-->
                <!--<p ng-if="rs.state === 'fake'">-->
                    <!--<i class="fa-bolletje"></i> {{ rs.state }}<span>{{ rs.created_at | date:'MM/dd/yyyy @ h:mma' }}</span>-->
                <!--</p>-->
                <!--<p ng-if="rs.state === 'gemeld'">-->
                    <!--<i class="fa-bolletje"></i> {{ rs.state }}<span>{{ rs.created_at | date:'MM/dd/yyyy @ h:mma' }}</span>-->
                <!--</p>-->
            </div>
        </div>

        <!--<ul class="list">-->
            <!--<li class="item" ng-repeat="rs in reportstates">-->
                <!--{{ rs.state }}<span>{{ rs.created_at }}</span>-->
            <!--</li>-->
        <!--</ul>-->

    </ion-content>
</ion-view>