    <ion-view view-title="Leaderboard" ng-controller="LeaderbCtrl">
        <ion-content class="">

            <ul class="list leaderboardCard">
                <li class="item" ng-repeat="lb in stats">
                    #{{$index + 1}}  {{ lb.user.username }} <span>{{ lb.completed }}</span>
                </li>
            </ul>

        </ion-content>
    </ion-view>
