<ion-view title="Mijn meldingen">
    <ion-content class="">

        <!--<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="r in reps" type="item-text-wrap" href="#/reports-detail/{{r.id}}">-->
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="ureps in userreports" type="item-text-wrap" ui-sref="tab.reports_detail({reportId:ureps.id})">
                <img ng-src="{{ureps.photo}}">
                <h2>{{ ureps.type }}</h2>
                <p>{{ ureps.description }}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive">Delete</ion-option-button>
        </ion-item>



        <!--<ion-spinner icon="dots"></ion-spinner>-->

    </ion-content>
</ion-view>