{% extends "::base.html.twig" %}

{% block title %}Meldingen{% endblock %}

{% block body -%}
<div id="loadGMaps" class="loadAllReports">
    <div class="row">
        <div id="sidebar" class="col-lg-2">
            {#<img src="https://scontent-ams3-1.xx.fbcdn.net/hphotos-frc3/v/t1.0-9/1476174_10152064745569777_2091323508_n.jpg?oh=759efcf3b4265f3bb7daa2bf4ae9ee65&oe=56B53BE0"/>#}
            {#<h5>Fake Name</h5>#}
            <img src="{{ asset('images/kleen-sidebar.png') }}" alt="Kleen"/>
            <h5>{{ loggedUser.firstName }} {{ loggedUser.lastName }}</h5>

            <nav class="">
                <ul class="sidenav">
                    <li><a href="{{ path('dash') }}">
                            <i class="fa fa-home"></i>Dashboard
                        </a></li>
                    <li><a href="{{ path('users') }}">
                            <i class="fa fa-users"></i>Gebruikers
                        </a></li>
                    <li class="activeSidenav"><a href="{{ path('reports') }}">
                            <i class="fa fa-flag"></i>Meldingen
                        </a></li>
                    <li><a href="{{ path('badges') }}">
                            <i class="fa fa-certificate"></i>Badges
                        </a></li>
                    <li><a href="{{ path('leaderboards') }}">
                            <i class="fa fa-line-chart"></i>Leaderboard
                        </a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('security_logout') }}">
                                <i class="fa fa-power-off"></i>Afmelden
                            </a></li>
                    {% endif %}
                </ul>
            </nav>

        </div>

        <div id="content" class="col-lg-10">
            <h2>Meldingen</h2>
            <div class="row">

                {% for flash_message in app.session.flashbag.get('succes') %}
                    <div class="flash-succes">
                        {{ flash_message }}
                    </div>
                {% endfor %}

                {% for flash_message in app.session.flashbag.get('error') %}
                    <div class="flash-error">
                        {{ flash_message }}
                    </div>
                {% endfor %}

                <div class="col-lg-12">
                    <div id="jsondata" class="hidden">{{ reportsJSON }}</div>
                    <div id='map'></div>
                </div>

            </div>

            <table class="table table-hover">
            {#<table id="datatable" class="table table-hover">#}
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Gebruikersnaam</th>
                        <th>Type</th>
                        <th>Omschrijving</th>
                        <th>Long</th>
                        <th>Lat</th>
                        <th>Aangemaakt</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for report in reports %}
                    {% if report.reportstates|length %}
                        {% set last = report.reportstates|last %}
                        <tr>
                            <td class="panTo" data-history="{{ last.state }}" data-long="{{ report.locationLong }}" data-lat="{{ report.locationLat }}">{{ report.id }}</td>
                            <td>{{ report.user.username }}</td>
                            <td>{{ report.type }}</td>
                            <td>{{ report.description }}</td>
                            <td>{{ report.locationLat }}</td>
                            <td>{{ report.locationLong }}</td>
                            <td>{% if report.createdAt %}{{ report.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                {% if last.state == 'gemeld' %}
                                    <td><i class="fa fa-circle fa-notification fa-darkblue"></i>{{ last.state }}</td>
                                {% elseif last.state == 'in behandeling' %}
                                    <td><i class="fa fa-circle fa-notification fa-yellow"></i>{{ last.state }}</td>
                                {% elseif last.state == 'opgeruimd'%}
                                    <td><i class="fa fa-circle fa-notification fa-green"></i>{{ last.state }}</td>
                                {% else %}
                                    <td><i class="fa fa-circle fa-notification fa-red"></i>{{ last.state }}</td>
                                {% endif %}
                    {% endif %}
                            <td>
                                {% if report.reportstates|length %}
                                    {% set last = report.reportstates|last %}
                                    {% if last.state == 'gemeld' %}
                                        <a href="{{ path('report_status', { 'id': report.id, 'status': 'gemeld' }) }}" title="gemeld"><i class="fa fa-eye-slash fa-disabled"></i></a>
                                        <a href="{{ path('report_status', { 'id': report.id, 'status': 'in behandeling' }) }}" title="in behandeling"><i class="fa fa-eye fa-blue"></i></a>
                                        <a href="{{ path('report_complete', { 'id': report.id, 'status': 'opgeruimd' }) }}" title="opgeruimd"><i class="fa fa-check fa-blue"></i></a>
                                        <a href="{{ path('report_status', { 'id': report.id, 'status': 'fake' }) }}" title="fake"><i class="fa fa-times fa-blue"></i></a>
                                    {% elseif last.state == 'in behandeling' %}
                                        <a href="{{ path('report_status', { 'id': report.id, 'status': 'gemeld' }) }}" title="gemeld"><i class="fa fa-eye-slash fa-blue"></i></a>
                                        <a href="{{ path('report_status', { 'id': report.id, 'status': 'in behandeling' }) }}" title="in behandeling"><i class="fa fa-eye fa-disabled"></i></a>
                                        <a href="{{ path('report_complete', { 'id': report.id, 'status': 'opgeruimd' }) }}" title="opgeruimd"><i class="fa fa-check fa-blue"></i></a>
                                        <a href="{{ path('report_status', { 'id': report.id, 'status': 'fake' }) }}" title="fake"><i class="fa fa-times fa-blue"></i></a>
                                    {% elseif last.state == 'opgeruimd'%}
                                        <a href="{{ path('report_status', { 'id': report.id, 'status': 'gemeld' }) }}" title="gemeld"><i class="fa fa-eye-slash fa-blue"></i></a>
                                        <a href="{{ path('report_status', { 'id': report.id, 'status': 'in behandeling' }) }}" title="in behandeling"><i class="fa fa-eye fa-blue"></i></a>
                                        <a href="{{ path('report_complete', { 'id': report.id, 'status': 'opgeruimd' }) }}" title="opgeruimd"><i class="fa fa-check fa-disabled"></i></a>
                                        <a href="{{ path('report_status', { 'id': report.id, 'status': 'fake' }) }}" title="fake"><i class="fa fa-times fa-blue"></i></a>
                                    {% else %}
                                        <a href="{{ path('report_status', { 'id': report.id, 'status': 'gemeld' }) }}" title="gemeld"><i class="fa fa-eye-slash fa-blue"></i></a>
                                        <a href="{{ path('report_status', { 'id': report.id, 'status': 'in behandeling' }) }}" title="in behandeling"><i class="fa fa-eye fa-blue"></i></a>
                                        <a href="{{ path('report_complete', { 'id': report.id, 'status': 'opgeruimd' }) }}" title="opgeruimd"><i class="fa fa-check fa-blue"></i></a>
                                        <a href="{{ path('report_status', { 'id': report.id, 'status': 'fake' }) }}" title="fake"><i class="fa fa-times fa-disabled"></i></a>
                                    {% endif %}
                                {% endif %}
                                <a href="{{ path('report_show', { 'id': report.id }) }}" title="Toon details"><i class="fa fa-info fa-blue fa-offset"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock %}
