{% extends '::base.html.twig' %}

{% block title %}Meldingen{% endblock %}

{% block body -%}
<div id="loadGMaps" class="loadOneReport">
    <div class="row">
        <div id="sidebar" class="col-lg-2">
            {#<img src="https://scontent-ams3-1.xx.fbcdn.net/hphotos-frc3/v/t1.0-9/1476174_10152064745569777_2091323508_n.jpg?oh=759efcf3b4265f3bb7daa2bf4ae9ee65&oe=56B53BE0"/>#}
            {#<h5>Fake Name</h5>#}
            <img src="{{ asset('images/kleen-sidebar.png') }}" alt="Kleen"/>
            <h5>{{ loggedUser.firstName }} {{ loggedUser.lastName }}</h5>

            <nav class="">
                <ul class="sidenav">
                    <li><a href="{{ path('dash') }}">
                            <i class="fa fa-home"></i>Dashboard
                        </a></li>
                    <li><a href="{{ path('users') }}">
                            <i class="fa fa-users"></i>Gebruikers
                        </a></li>
                    <li class="activeSidenav"><a href="{{ path('reports') }}">
                            <i class="fa fa-flag"></i>Meldingen
                        </a></li>
                    <li><a href="{{ path('badges') }}">
                            <i class="fa fa-certificate"></i>Badges
                        </a></li>
                    <li><a href="{{ path('leaderboards') }}">
                            <i class="fa fa-line-chart"></i>Leaderboard
                        </a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('security_logout') }}">
                                <i class="fa fa-power-off"></i>Afmelden
                            </a></li>
                    {% endif %}
                </ul>
            </nav>

        </div>

        <div id="content" class="col-lg-10">
            <h2>Melding '{{ report.type }}' door <i>{{ report.user.username }}</i></h2>

            <div class="row">
                <div class="col-lg-12">

                    <div id="jsondata" class="hide">{{ reportJSON }}</div>
                    <div id='map'></div>

                </div>
            </div>

            <div class="row">
                <table class="table table-hover table-detail pull-left" style="width: 58%;">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ report.id }}</td>
                    </tr>
                    <tr>
                        <th>Gebruiker</th>
                        <td>{{ report.user.username }}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{ report.type }}</td>
                    </tr>
                    <tr>
                        <th>Omschrijving</th>
                        <td>{{ report.description }}</td>
                    </tr>
                    <tr>
                        <th>Lon</th>
                        <td>{{ report.locationLong }}</td>
                    </tr>
                    <tr>
                        <th>Lat</th>
                        <td>{{ report.locationLat }}</td>
                    </tr>
                    <tr>
                        <th>Aangemaakt</th>
                        <td>{{ report.createdAt|date('Y-m-d H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th>Aangepast</th>
                        <td>{{ report.updatedAt|date('Y-m-d H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th>Verwijderd</th>
                        <td>{{ report.deletedAt|date('Y-m-d H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th>Huidige status</th>
                        {#{% for state in history %}#}
                            {% if report.reportstates|length %}
                                {% set last = report.reportstates|last %}
                                {% if last.state == 'gemeld' %}
                                    <td><i class="fa fa-circle fa-notification fa-darkblue"></i>{{ last.state }}</td>
                                {% elseif last.state == 'in behandeling' %}
                                    <td><i class="fa fa-circle fa-notification fa-yellow"></i>{{ last.state }}</td>
                                {% elseif last.state == 'opgeruimd'%}
                                    <td><i class="fa fa-circle fa-notification fa-green"></i>{{ last.state }}</td>
                                {% else %}
                                    <td><i class="fa fa-circle fa-notification fa-red"></i>{{ last.state }}</td>
                                {% endif %}
                            {% endif %}
                        {#{% endfor %}#}
                    </tr>
                    </tbody>
                </table>

                <table class="table table-hover table-detail-reversed pull-right" style="width: 38%;">
                    <tbody>
                    {% for state in history %}
                        <tr>
                            <th>{{ state.createdAt|date('Y-m-d H:i:s') }}</th>
                            {% if state.state == 'gemeld' %}
                                <td><i class="fa fa-circle fa-notification fa-darkblue"></i>{{ state.state }}</td>
                            {% elseif state.state == 'in behandeling' %}
                                <td><i class="fa fa-circle fa-notification fa-yellow"></i>{{ state.state }}</td>
                            {% elseif state.state == 'opgeruimd'%}
                                <td><i class="fa fa-circle fa-notification fa-green"></i>{{ state.state }}</td>
                            {% else %}
                                <td><i class="fa fa-circle fa-notification fa-red"></i>{{ state.state }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="btn btn-blue">
                    <a class="upc" href="{{ path('reports') }}">Toon alle meldingen</a>
                </div>
            </div>


            {#<div class="btn btn-blue">#}
                {#<a class="upc" href="{{ path('users_edit', { 'id': user.id }) }}">Wijzig gegevens</a>#}
            {#</div>#}


        </div>
    </div>
</div>
{% endblock %}
