{% extends "::base.html.twig" %}

{% block title %}Badges{% endblock %}

{% block body -%}
    <div class="row">
        <div id="sidebar" class="col-lg-2">
            {#<img src="https://scontent-ams3-1.xx.fbcdn.net/hphotos-frc3/v/t1.0-9/1476174_10152064745569777_2091323508_n.jpg?oh=759efcf3b4265f3bb7daa2bf4ae9ee65&oe=56B53BE0"/>#}
            {#<h5>Fake Name</h5>#}
            <img src="{{ asset('images/kleen-sidebar.png') }}" alt="Kleen"/>
            <h5>{{ loggedUser.firstName }} {{ loggedUser.lastName }}</h5>

            <nav class="">
                <ul class="sidenav">
                    <li><a href="{{ path('dash') }}">
                            <i class="fa fa-home"></i>Dashboard
                        </a></li>
                    <li><a href="{{ path('users') }}">
                            <i class="fa fa-users"></i>Gebruikers
                        </a></li>
                    <li><a href="{{ path('reports') }}">
                            <i class="fa fa-flag"></i>Meldingen
                        </a></li>
                    <li class="activeSidenav"><a href="{{ path('badges') }}">
                            <i class="fa fa-certificate"></i>Badges
                        </a></li>
                    <li><a href="{{ path('leaderboards') }}">
                            <i class="fa fa-line-chart"></i>Leaderboard
                        </a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('security_logout') }}">
                                <i class="fa fa-power-off"></i>Afmelden
                            </a></li>
                    {% endif %}
                </ul>
            </nav>

        </div>

        <div id="content" class="col-lg-10">
            <h2>Badges</h2>

            {% for flash_message in app.session.flashbag.get('succes') %}
                <div class="flash-succes">
                    {{ flash_message }}
                </div>
            {% endfor %}

            {% for flash_message in app.session.flashbag.get('error') %}
                <div class="flash-error">
                    {{ flash_message }}
                </div>
            {% endfor %}

            {#<div class="btn btn-blue">#}
                {#<a class="upc" href="{{ path('badge_new') }}">Maak nieuwe badge aan</a>#}
            {#</div>#}
            <table id="datatable" class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Naam</th>
                    <th>Meldingen</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for badge in badges %}
                    <tr>
                        <td>{{ badge.id }}</td>
                        <td>{{ badge.name }}</td>
                        <td>{{ badge.reports }}</td>
                        <td>
                            <a href="{{ path('badge_edit', { 'id': badge.id }) }}"><i class="fa fa-pencil fa-blue"></i></a>
                            {#<a href="{{ path('badge_delete', { 'id': badge.id }) }}"><i class="fa fa-trash fa-blue"></i></a>#}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="btn btn-blue">
                <a class="upc" href="{{ path('badge_new') }}">Maak nieuwe badge aan</a>
            </div>

        </div>
    </div>
{% endblock %}
