<ion-view view-title="Dashboard">
    <ion-content class="">
        <img class="logoDashboard" ng-src="../img/kleen.png">

        <div class="list card dashboardCard">
            <div class="item item-divider">Uw laatste melding</div>
            <div class="item item-body" ng-repeat="ureps in userreports" ng-show="$last">
                <div>
                    <p>{{ ureps.type }} <span>{{ ureps.created_at | date:'MM/dd/yyyy @ h:mma' }}</span></p>
                </div>
                <div>{{ ureps.description }}</div>
            </div>
        </div>

        <div class="list card">
            <div class="item item-divider">Aantal meldingen</div>
            <div class="item item-body" ng-repeat="person in filtered = (userreports | filter: query)" ng-show="$first">
                <div>U heeft {{filtered.length}} doorgestuurde meldingen!</div>
            </div>
        </div>

    </ion-content>
</ion-view>
