{% extends 'base.html.twig' %}

{% form_theme login_form 'bootstrap_3_layout.html.twig' %}

{% block title %}KLEEN | Login{% endblock %}

{% block body -%}
    <div class="row">
        <div id="content" class="col-lg-12" style="background-color: transparent;">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">

                    <img class="logoImage" src="{{ asset('images/kleen.png') }}" alt="Kleen"/>

                </div>

                <div class="col-lg-4 col-lg-offset-4">

                    {%- if error -%}
                        {{ error.message }}
                    {%- endif -%}

                    {{ form_start(login_form) }}
                        {{ form_widget(login_form) }}
                        <button type="submit" class="upc btn btn-submit">Login</button>
                    {{ form_end(login_form) }}

                    {#<div class="btn btn-blue">#}
                    {#<a class="upc" href="{{ path('users_new') }}">Maak een nieuw account</a>#}
                    {#</div>#}

                </div>
            </div>

        </div>
    </div>
{% endblock %}