<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Dashboard Tab -->
    <ion-tab title="Home" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>

    <!-- Mijn meldingen Tab -->
    <ion-tab title="Mijn meldingen" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/reports">
        <ion-nav-view name="tab-reports"></ion-nav-view>
    </ion-tab>

    <!-- Camera Tab -->
    <ion-tab title="Meld" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" href="#/tab/camera">
        <ion-nav-view name="tab-camera"></ion-nav-view>
    </ion-tab>

    <!-- Leaderb Tab -->
    <ion-tab title="Leaderboards" icon-off="ion-ios-flag-outline" icon-on="ion-ios-flag" href="#/tab/leaderb">
        <ion-nav-view name="tab-leaderb"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="Account" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>


</ion-tabs>
