/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/


/*
 * COLORS
 *
 */
$white:                 #ffffff !default;
$cancel:                #e7575a !default;
$cancelhover:           #ce3e41 !default;
$submit:                #4fb373 !default;
$submithover:           #1c8040 !default;

$yellow:                #F1C40F !default;

$lightestblue:          #90E1FF !default;
$lighterblue:           #75b0d7 !default;
$blue:                  #4394c8 !default;
$darkerblue:            #2e719e !default;

$grey:                  #333333 !default;
$lightgrey:             #abb2b7 !default;
$lightergrey:           #d3d7da !default;
$lightestgrey:          #e4e7ea !default;


/*
 * OVERALL
 *
 */
*{ font-family: Roboto, "Helvetica Neue"; }
h2{font-family: 'Fira Sans', sans-serif; font-weight: 700;}
h3{font-family: 'Fira Sans', sans-serif; font-weight: 400; span{font-size: .7em; color: $lightgrey;}}
h5{font-family: 'Fira Sans', sans-serif; font-weight: 300;}
.cap{ text-transform: capitalize; }
.upc{ text-transform: uppercase; }
.floatleft{float: left; margin-right: 20px;}
tr{ td{ a{ color: $blue !important; } } }   // fa icons as link in table
.fa-notification{
  font-size: 10px;
  border-radius: 10px;
  margin: 0 10px;
}
.fa-blue{color: $darkerblue; margin: 0 1px;}
.fa-disabled{color: $lighterblue;}
.fa-darkblue{color: $darkerblue;}
.fa-yellow{color: $yellow;}
.fa-green{color: $submit;}
.fa-red{color: $cancel;}
.fa-offset{margin-left: 10px;}

body{
  background-color: $lightestgrey;
}




/*
 * BUTTONS
 *
 */
.btn-blue{
  background-color: $blue !important;
  color: $white !important;
  &:hover {
    background-color: $darkerblue !important;
  }
  a{
    color: $white !important;
    text-decoration: none;
  }
}
.btn-cancel{
  background-color: $cancel !important;
  color: $white !important;
  &:hover {
    background-color: $cancelhover !important;
  }
  a{
    color: $white !important;
    text-decoration: none;
  }
}

.btn-submit{
  background-color: $submit !important;
  color: $white !important;
  &:hover {
    background-color: $submithover !important;
  }
  a{
    color: $white !important;
    text-decoration: none;
  }
}

// Button created by AppBundle/Form/UserType
#appbundle_user_submit{
  background-color: $submit !important;
  color: $white !important;
  text-transform: uppercase;
  a{
    color: $white !important;
    text-decoration: none;
  }
}

.table-60{with:60% !important}
.table-40{with:40% !important}
#datatable_length{display: none;}
#datatable_filter{float: left; margin: 20px 0;}
#datatable_info{color: $lightergrey;}
#datatable_info, #datatable_paginate{margin-bottom: 20px;}
#datatable_filter{
  width: 100%;
  margin: 0 auto;
}
.table-detail{
  tr:first-of-type{th, td{ border: none !important; }}
  th{
    text-align: right;
    padding-right: 10px;
    width: 30%;
  }
}
.table-detail-reversed{
  tr:first-of-type{th, td{ border: none !important; }}
  th{
    text-align: right;
    padding-right: 10px;
    width: 45%;
  }
}
//.table-detail-reversed-user-reports{
//  tr:first-of-type{th, td{ border: none !important; }}
//  th{
//    text-align: right !important;
//    padding-right: 10px;
//    width: 25%;
//  }
//}

  /*
   * BACKOFFICE
   *
   */
  .logoImage{width: 100%; margin: 150px auto 100px;}
  #sidebar{
    padding: 40px 0 20px 10px;
    background-color: $grey;
    .sidenav{
      margin-left: -40px;
      li{
        margin: 10px auto;
        padding: 15px 10px;
        i{ margin-right: 15px;}
      }
      a{
        font-size: 20px;
        color: $white !important;
        text-decoration: none;
        &:hover {
          color: $darkerblue !important;
        }
      }
      .activeSidenav{
        border-right: 10px solid $blue;
      }
    }
    img{
      width: 100%;
    }
    h5{
      font-size: 24px;
      text-align: center;
      color: $white;
    }
    .sidenav{
      margin-top: 50px;
    }
  }

  #content{
    padding: 20px 30px;
    background-color: $white;
    min-height: 750px;
    .flash-succes, .flash-error{
      z-index: 100;
      position: absolute;
      top: 40px; left: 25%;
      width: 50%;
      padding: 50px;
      text-align: center;
      font-size: 2em;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      color: $white;
      background-color: $submit;
    }
    .flash-error{ background-color: $cancel; }

  }

  .table-hover{
    tbody{
      tr{
        &:hover{
          background-color: $lightestgrey;
        }
      }
    }
  }

  /* map for google maps */
  #map { width:100%; min-height: 500px; margin-bottom: 20px; }




/*
 * TITEL
 *
 */



