{% extends '::base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body -%}
    <div class="row">
        <div id="sidebar" class="col-lg-2">
            {#<img src="https://scontent-ams3-1.xx.fbcdn.net/hphotos-frc3/v/t1.0-9/1476174_10152064745569777_2091323508_n.jpg?oh=759efcf3b4265f3bb7daa2bf4ae9ee65&oe=56B53BE0"/>#}
            {#<h5>Fake Name</h5>#}
            <img src="{{ asset('images/kleen-sidebar.png') }}" alt="Kleen"/>
            <h5>{{ loggedUser.firstName }} {{ loggedUser.lastName }}</h5>

            <nav class="">
                <ul class="sidenav">
                    <li class="activeSidenav"><a href="{{ path('dash') }}">
                        <i class="fa fa-home"></i>Dashboard
                    </a></li>
                    <li><a href="{{ path('users') }}">
                        <i class="fa fa-users"></i>Gebruikers
                    </a></li>
                    <li><a href="{{ path('reports') }}">
                            <i class="fa fa-flag"></i>Meldingen
                        </a></li>
                    <li><a href="{{ path('badges') }}">
                            <i class="fa fa-certificate"></i>Badges
                        </a></li>
                    <li><a href="{{ path('leaderboards') }}">
                            <i class="fa fa-line-chart"></i>Leaderboard
                        </a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('security_logout') }}" title="Afmelden" id="Afmelden">
                                <i class="fa fa-power-off"></i>Afmelden
                            </a></li>
                    {% endif %}
                </ul>
            </nav>

        </div>

        <div id="content" class="col-lg-10">
            <h2>Dashboard</h2>
            <div class="row">

                {#    HIGHCHARTS FOR GRAPH INFORMATION    #}
                {#<div class="col-lg-12">#}
                    {#<h3>Gebruikersaantal <span>({{ count }})</span></h3>#}

                    {#<script type="text/javascript">#}
                        {#{{ chart(chart) }}#}
                    {#</script>#}

                    {#<div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>#}
                {#</div>#}

                <div class="col-lg-12">
                    <h3>Laatste meldingen</h3>
                </div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Gebruikersnaam</th>
                        <th>Type</th>
                        <th>Omschrijving</th>
                        <th>Long</th>
                        <th>Lat</th>
                        <th>Aangemaakt</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for report in lastTenReports %}
                        <tr>
                            <td>{{ report.id }}</td>
                            <td>{{ report.user.username }}</td>
                            <td>{{ report.type }}</td>
                            <td>{{ report.description }}</td>
                            <td>{{ report.locationLat }}</td>
                            <td>{{ report.locationLong }}</td>
                            <td>{% if report.createdAt %}{{ report.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                            {% if report.reportstates|length %}
                                {% set last = report.reportstates|last %}
                                {% if last.state == 'gemeld' %}
                                    <td><i class="fa fa-circle fa-notification fa-darkblue"></i>{{ last.state }}</td>
                                {% elseif last.state == 'in behandeling' %}
                                    <td><i class="fa fa-circle fa-notification fa-yellow"></i>{{ last.state }}</td>
                                {% elseif last.state == 'opgeruimd'%}
                                    <td><i class="fa fa-circle fa-notification fa-green"></i>{{ last.state }}</td>
                                {% else %}
                                    <td><i class="fa fa-circle fa-notification fa-red"></i>{{ last.state }}</td>
                                {% endif %}
                            {% endif %}
                            <td>
                                {% if report.reportstates|length %}
                                    {% set last = report.reportstates|last %}
                                    {% if last.state == 'gemeld' %}
                                        <a href="{{ path('report_status', { 'id': report.id, 'status': 'gemeld' }) }}" title="gemeld"><i class="fa fa-eye-slash fa-disabled"></i></a>
                                        <a href="{{ path('report_status', { 'id': report.id, 'status': 'in behandeling' }) }}" title="in behandeling"><i class="fa fa-eye fa-blue"></i></a>
                                        <a href="{{ path('report_complete', { 'id': report.id, 'status': 'opgeruimd' }) }}" title="opgeruimd"><i class="fa fa-check fa-blue"></i></a>
                                        <a href="{{ path('report_status', { 'id': report.id, 'status': 'fake' }) }}" title="fake"><i class="fa fa-times fa-blue"></i></a>
                                    {% elseif last.state == 'in behandeling' %}
                                        <a href="{{ path('report_status', { 'id': report.id, 'status': 'gemeld' }) }}" title="gemeld"><i class="fa fa-eye-slash fa-blue"></i></a>
                                        <a href="{{ path('report_status', { 'id': report.id, 'status': 'in behandeling' }) }}" title="in behandeling"><i class="fa fa-eye fa-disabled"></i></a>
                                        <a href="{{ path('report_complete', { 'id': report.id, 'status': 'opgeruimd' }) }}" title="opgeruimd"><i class="fa fa-check fa-blue"></i></a>
                                        <a href="{{ path('report_status', { 'id': report.id, 'status': 'fake' }) }}" title="fake"><i class="fa fa-times fa-blue"></i></a>
                                    {% elseif last.state == 'opgeruimd'%}
                                        <a href="{{ path('report_status', { 'id': report.id, 'status': 'gemeld' }) }}" title="gemeld"><i class="fa fa-eye-slash fa-blue"></i></a>
                                        <a href="{{ path('report_status', { 'id': report.id, 'status': 'in behandeling' }) }}" title="in behandeling"><i class="fa fa-eye fa-blue"></i></a>
                                        <a href="{{ path('report_complete', { 'id': report.id, 'status': 'opgeruimd' }) }}" title="opgeruimd"><i class="fa fa-check fa-disabled"></i></a>
                                        <a href="{{ path('report_status', { 'id': report.id, 'status': 'fake' }) }}" title="fake"><i class="fa fa-times fa-blue"></i></a>
                                    {% else %}
                                        <a href="{{ path('report_status', { 'id': report.id, 'status': 'gemeld' }) }}" title="gemeld"><i class="fa fa-eye-slash fa-blue"></i></a>
                                        <a href="{{ path('report_status', { 'id': report.id, 'status': 'in behandeling' }) }}" title="in behandeling"><i class="fa fa-eye fa-blue"></i></a>
                                        <a href="{{ path('report_complete', { 'id': report.id, 'status': 'opgeruimd' }) }}" title="opgeruimd"><i class="fa fa-check fa-blue"></i></a>
                                        <a href="{{ path('report_status', { 'id': report.id, 'status': 'fake' }) }}" title="fake"><i class="fa fa-times fa-disabled"></i></a>
                                    {% endif %}
                                {% endif %}
                                <a href="{{ path('report_show', { 'id': report.id }) }}" title="Toon details"><i class="fa fa-info fa-blue fa-offset"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                <div class="col-lg-12">
                    <h3>Nieuwste gebruikers</h3>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Gebruikersnaam</th>
                            <th>Email</th>
                            <th>Voornaam</th>
                            <th>Naam</th>
                            <th>Aangemaakt</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in lastFiveUsers %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.firstName }}</td>
                                <td>{{ user.lastName }}</td>
                                <td>{% if user.createdAt %}{{ user.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>
                                    <a href="{{ path('users_edit', { 'id': user.id }) }}"><i class="fa fa-pencil fa-blue"></i></a>
                                    {% if user.lockedAt == null %}
                                        <a href="{{ path('user_softdelete', { 'id': user.id }) }}"><i class="fa fa-lock fa-blue"></i></a>
                                    {% else %}
                                        <a href="{{ path('user_softundelete', { 'id': user.id }) }}"><i class="fa fa-unlock fa-blue"></i></a>
                                    {% endif %}
                                    {#<a href="{{ path('users_delete', { 'id': user.id }) }}"><i class="fa fa-trash fa-blue"></i></a>#}
                                    <a href="{{ path('users_show', { 'id': user.id }) }}"><i class="fa fa-info fa-blue fa-offset"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}
