<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <title>{% block title %}KLEEN{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/font-awesome/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css') }}">
            <link rel="stylesheet" href="{{ asset('https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/symfony.app.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery/jquery.min.js') }}"></script>
            <script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
            <script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>
            <script src="{{ asset('https://maps.googleapis.com/maps/api/js?key=AIzaSyAqIpDrhuwa6EnfA_rIyouqAxEHsPOxCiE&signed_in=true&callback=initMap') }}"></script>
            <script src="{{ asset('js/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
            <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js') }}"></script>
            <script src="{{ asset('https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js') }}"></script>
            <script src="{{ asset('js/app.js') }}"></script>
        {% endblock %}

        <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,700,300' rel='stylesheet' type='text/css'>
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}" />
    </head>

    <body id="{% block body_id %}{% endblock %}">

    {% block header %}
    {% endblock %}

    <div class="container-fluid">
        {% block body %}
        {% endblock %}
    </div>

    {% block footer %}
    {% endblock %}

    </body>

</html>
